<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plant Disease Detection | FAQ's</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stat_style.css')}}">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
	<style>
		@media screen and (max-width: 680px){
			.box{
				display: flex;
				justify-content: center;
				max-width: 350px;
				flex-direction: column;
}
		}
		
	</style>

</head>
<body>
	<header>
		<img src="{{url_for('static', filename='images/favicon.png')}}" alt="logo">
		<h1>MATRIX</h1>
		<div class="topnav" id="myTopnav">
			<a href="faq" class="active">FAQ</a>
			<a href="feedback">Feedback</a>
			<!-- <a href="about_us.html">About Us</a> -->
			<a href="detect">Detect</a>
			<a href="/">Home</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction();">
			  <i class="fa fa-bars"></i>
			</a>
		  </div>
	</header>
	
	<div class="box">
			<p class="heading">FAQ's</p>
			<div class="faqs">
				<details>
					<summary>What is black rot</summary>
					<p class="text1">Black rot is caused by the fungus Diplodia seriata (syn Botryosphaeria obtusa). The fungus can infect dead tissue as well as living trunks, branches, leaves and fruits. The black rot fungi survive Minnesota winters in branch cankers and mummified fruit (shriveled and dried fruit) attached to the tree.</p>
					
				</details>
				<details>
					<summary>What is scab on a leaf</summary>
					<p class="text1">Scab is caused by a fungus that infects both leaves and fruit. Scabby fruit are often unfit for eating. Infected leaves have olive green to brown spots. Leaves with many leaf spots turn yellow and fall off early.</p>
					
				</details>
				<details>
					<summary>What is cedar rust and how to get rid of it</summary>
					<p class="text1">Disease is most common on apple and crabapple. It occurs occasionally on hawthorn. Leaf spots are first yellow then turn bright orange-red, often with a bright red border.Spraying apple trees with copper can be done to treat cedar apple rust and prevent other fungal infections.</p>
					
				</details>
				<details>
					<summary>What is early blight on tomato leaves and how to treat it</summary>
					<p class="text1">Early blight is a common tomato disease caused by the fungus Alternaria solani. It can affect almost all parts of the tomato plants, including the leaves, stems, and fruits. The plants may not die, but they will be weakened and will set fewer tomatoes than normal.Thoroughly spray the plant (bottoms of leaves also) with Bonide Liquid Copper Fungicide concentrate or Bonide Tomato & Vegetable. Both of these treatments are organic.</p>
					
				</details>
				<details>
					<summary>What is late blight and methods to treat this disease</summary>
					<p class="text1">Late blight is caused by the funguslike oomycete pathogen Phytophthora infestans. This potentially devastating disease can infect potato foliage and tubers at any stage of crop development.For the home gardener, fungicides that contain maneb, mancozeb, chlorothanolil, or fixed copper can help protect plants from late tomato blight. Repeated applications are necessary throughout the growing season as the disease can strike at any time</p>
					
				</details>
				<details>
					<summary>What is powdery mildew and ways to get rid of the disease</summary>
					<p class="text1">Powdery mildew is a fungal disease that results in a powdery gray or white coating on the leaves and stems of infected plants. 1 A powdery mildew infection generally starts out as a few spores on the leaves but quickly spreads, forming a thick coating of fungi.Use sulfur-containing organic fungicides as both preventive and treatment for existing infections.</p>
					
				</details>
				<details>
					<summary>What is bacterial spot on leaves and how to prevent it</summary>
					<p class="text1">Many ornamental and edible plants display dark, necrotic looking spots on their leaves. This is a symptom of bacterial leaf spot disease. Bacterial leaf spot on plants will discolor, and in extreme cases, kill leaves. Tiny, microscopic, single celled organisms are what causes bacterial leaf spot.Use pathogen-free seed as the first step in disease management. However, reliable seed assays and established threshold levels are not yet available. Avoid sprinkler irrigation when possible.</p>
					
				</details>
				<details>
					<summary>What is leaf scorch and how to treat leaf scorch</summary>
					<p class="text1">Leaf scorch (also called leaf burn, leaf wilt, and sun scorch) is defined as a browning of plant tissues, including leaf margins and tips, and yellowing or darkening of veins which may lead to eventual wilting and abscission of the leaf.If the cause of leaf scorch is chemical injury, recovery in some cases may be minimal. If de-icing salt or fertilizer burn are suspected, leaching the soil with a slow trickle of water for 24 hours may help in recovery.</p>
					
				</details>
				<details>
					<summary>What is mosaic virus and how to control it</summary>
					<p class="text1">A mosaic virus is any virus that causes infected plant foliage to have a mottled appearance. Such viruses come from a variety of unrelated lineages and consequently there is no taxon that unites all mosaic viruses.(1)Remove all infected plants and destroy them. Do NOT put them in the compost pile, as the virus may persist in infected plant matter.(2)Monitor the rest of your plants closely, especially those that were located near infected plants.(3)Disinfect gardening tools after every use.</p>
					
				</details>
				
				</div>
			</div>
			<footer>
				<p>&copy; Created by team MATRIX</p>
			</footer>
</body>
</html>
