<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Detection | Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>

    <!-- Header of the homepage-->
    <header>
        <img src="{{url_for('static', filename='images/favicon.png')}}" alt="">
        <h1>MATRIX</h1>
    </header>

    <!--Navbar-->

    <div class="topnav" id="myTopnav">
        <a href="faq">FAQ</a>
        <a href="feedback">Feedback</a>
        <!-- <a href="about_us.html">About Us</a> -->
        <a href="detect">Detect</a>
        <a href="/" class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction();">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    <section>
        <div class="cont">
            <h2 id="title">About Our Project</h2>
            <p class="identification">
                
            Plant diseases have turned into a dilemma as it can cause significant reduction in both quality and quantity of agricultural products. Automatic detection of plant diseases is an essential research topic as it may prove benefits in monitoring large fields of crops, and thus automatically detect the symptoms of diseases as soon as they appear on plant leaves. The proposed system is a software solution for automatic detection and classification of plant leaf diseases.

            </p>
        </div>
    </section>


    <footer>
        <p>&copy Created by team MATRIX</p>
    </footer>
</body>
</html>