<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div id="login_form">
        <p><b>Login</b></p>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="usr_name" id="user_name" placeholder="Username">
            <br>
            <input type="password" name="usr_pass" id="user_password" placeholder="Password">
            <br><br>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>